{{{profileNav}}}
<div class="profile__content flex-grow-1 flex items-center justify-center">
	{{#if isFetched}}
		<div class="profile__info mx-auto">
			{{{profileAvatar}}}
			<div class="profile__name">{{firstName}}</div>
			<div class="profile__data profile__data_profile">
				<ul class="profile__data-list reset-list">
					{{#each dataItemsList}}
						{{{this}}}
					{{/each}}
				</ul>
			</div>
			<div class="profile__actions">
				<ul class="profile__data-list reset-list">
					<li class="profile__data-item">
						<div class="profile-info flex items-center justify-between">
							{{{editLink}}}
						</div>
					</li>
					<li class="profile__data-item">
						<div class="profile-info flex items-center justify-between">
							{{{passwordChangeLink}}}
						</div>
					</li>
					<li class="profile__data-item">
						<div class="profile-info">
							{{{logoutLink}}}
						</div>
					</li>
				</ul>
			</div>
		</div>
	{{else}}
		{{{skeleton}}}
	{{/if}}
</div>
{{{overlayPopup}}}
{{{avatarChangePopup}}}
