<div class="chat__header flex flex-col items-end">
	<div class="flex items-center chat__header-sub justify-between full-w">
		{{{createChatButton}}}
		{{{profileButton}}}
	</div>
	{{{searchInput}}}
</div>
<div class="chat__list-wrapper">
<!--	<ul class="chat__list full-h reset-list">-->
<!--		{{#each chatList}}-->
<!--			{{{this}}}-->
<!--		{{/each }}-->
<!--	</ul>-->
	{{{chatList}}}
</div>
{{{chatCreatePopup}}}
