<div class="service-page ">
	<h1 class="service-page__title text-center">Навигация</h1>
	<div class="service-page__text">
		<ul>
<!--			<li><a href="sign-in">Вход</a></li>-->
<!--			<li><a href="sign-up">Регистрация</a></li>-->
<!--			<li><a href="chat">Чат</a></li>-->
<!--			<li><a href="profile">Профиль</a></li>-->
<!--			<li><a href="profile-edit">Изменить профиль</a></li>-->
<!--			<li><a href="profile-password-change">Изменить пароль</a></li>-->
<!--			<li><a href="not-found">Страница 404</a></li>-->
<!--			<li><a href="server-error">Страница 500</a></li>-->
			<li class="mb-15">{{{signinButton}}}</li>
			<li class="mb-15">{{{signupButton}}}</li>
			<li class="mb-15">{{{chatButton}}}</li>
			<li class="mb-15">{{{profileButton}}}</li>
			<li class="mb-15">{{{profileEditButton}}}</li>
			<li class="mb-15">{{{profilePasswordChangeButton}}}</li>
			<li class="mb-15">{{{notFoundButton}}}</li>
			<li class="mb-15">{{{serverErrorButton}}}</li>
		</ul>
	</div>
</div>
