<label class="popup__action-text block cursor-pointer {{selectedClass}}" for="avatar">
	{{#if filename}}
		{{filename}}
	{{else}}
		выбрать файл на компьютере
	{{/if}}
</label>
<!--<input id="avatar" type="file" name="avatar" accept="image/*" class="visually-hidden">-->
{{{input}}}
{{{button}}}
